<div class="container card col-6 loginCard">
  <div class="welcomeAdminHeader col-lg-12 col-md-12 col-sm-12">
    Welcome Admin!,Please prove you are you.
  </div>
  <div class="adminLoginFormContainer col-lg-12 col-md-12 col-sm-12">
    <form class="adminLoginForm col-lg-12 col-md-12 col-sm-12">
<div class="col-24 inputBox">
      <input type="text" class="adminUsername" placeholder="Username">
    </div>
<div class="col-24 inputBox">          
      <input type="password" class="adminPassword" placeholder="Password">
    </div>
<div class="col-24 inputBox">          
      <input type="submit" class="adminSubmit" value="Submit" name="Submit">
    </div> 
    </form>
  </div>
</div>